.func{
    background-color: aqua;
    border: solid 2px;
    border-radius: 20px;
    width: 500px;
    text-align: center;
    position: relative;
    top: 200px;
    left: 900px;
   
    

}
.class{
    background-color: rgb(251, 0, 255);
    border: solid 2px;
    border-radius: 20px;
    width: 500px;
    text-align: center;
   
    /* top: 100px; */
   margin-left: 200px;

}